body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #ededed;
    color: blue;
}

nav {
    background-color: #2a3f54;
    color: #e7e7e7;
    min-height: 400px;
}

nav a:link, nav a:visited, nav a:hover, nav a:active {
    text-decoration: none;
    color: #e7e7e7;
}

section {
    color: #3a3f54;
    background-color: #f7f7f7;
}

footer { 
    background-color: #ededed;
    color: blue;
}

 a:link, a:visited,  a:hover,  a:active {
    text-decoration: none;
}

#sair {
    color: white;
    border: 3px solid black;
    font-size: 25px;
    background-color: #2a3f54;
}

#sair:hover {
    background-color: black;
}

#areaAdmin {
    color: white;
    border: 3px solid black;
    font-size: 15;
    background-color: #2a3f54;
}

