body {
    background-color: rgb(183, 181, 181);
    text-align: center;
    margin: 200px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    font-size: 35px;
    font-weight: bold;
    color: white;
}

input {
    height: 35px;
    border: 2px solid;
}

input#num2 {
    margin: 3px;
}

select {
    margin: 5px;
    border: 2px solid;
    width: 45px;
    height: 25px;
    background-color: gray;
}

select:hover {
    width: 50px;
    height: 35px;
    background-color: white;
}

button {
    background-color: black;
    color: white;
    font-size: 20px;
}

button:hover {
    background-color: gray;
    font-size: 25px;
}