body {
    background-color: rgb(160, 108, 78);
    text-align: center;
    margin: 200px;   
}

h3 { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    font-size: 35px;
    font-weight: bold;
    color: white;
}

label {
    color: white;
}

button {
    background-color: black;
    color: white;
    font-size: 20px;
    margin-right: 25px;
}

button:hover {
    background-color: gray;
    font-size: 25px;
}   